.heading {
    color: darkblue;
    background-color: #ccc;
    border: 4px solid black;
    text-align: center;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
}

img[alt="phone"] {
    border: 4px solid black;
}

.blue {
    color: black;
    /* background-image: url(img/phone.jpeg);
        background-repeat: no-repeat;
    background-position: 10px 10px */
    background: url(img/phone.jpeg) no-repeat 10px 10px
}

p {
    font-size: 14px;
    
}